body {
    background-color: green;
}

#box {
    width: 250px;
    height: 300px;
    background-color: greenyellow;
    border: solid 2px white;
    margin: 5% auto;
    text-align: center;
    padding-top: 50px;
}